/*шрифты*/
@font-face {
	font-family: 'Conv_Akzidenz-Grotesk-BQ-Condensed-Bold';
	src: url('../fonts/Akzidenz-Grotesk-BQ-Condensed-Bold.eot');
	src: local('☺'), url('fonts/Akzidenz-Grotesk-BQ-Condensed-Bold.woff') format('woff'), url('fonts/Akzidenz-Grotesk-BQ-Condensed-Bold.ttf') format('truetype'), url('fonts/Akzidenz-Grotesk-BQ-Condensed-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*шрифты*/
/*обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	font-family: 'PT Sans', sans-serif;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*обнуление*/

header {
	padding: 30px 0 35px 0;
	background-color: #fff;
}

.container {
	margin: 0 auto;
	max-width: 880px;
	width: 100%;
}
.header-top {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
}
.header-top-lang {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.header-top-lang__item {
	display: block;
	line-height: 19px;
	color: #000;
	text-transform: uppercase;
	font-family: 'Bebas Neue';
	letter-spacing: 1px;
	padding:  0px 4px;
	margin: 0 10px 0 0;
}
.header-top-lang__item:active {
	background-color: #000;
	color: #fff;
}
.header-top__link {
	font-family: 'Conv_Akzidenz-Grotesk-BQ-Condensed-Bold';
	text-transform: uppercase;
	text-decoration: underline;
	font-size: 15px;
	color: #000;
	font-weight: bold;
}
.header-bottom {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	margin: -15px 0 0 0;
}
.header-bottom__column {
	flex: 0 0 33.333%;
}
.header-bottom-menu-list {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
}
.header-bottom-menu-list li {

}
.header-bottom-menu__link {
	font-family: 'Conv_Akzidenz-Grotesk-BQ-Condensed-Bold';
	letter-spacing: 1.5px;
	color:#000;
	text-transform: uppercase;
	font-size: 15px;
}
.header-logo {
	display: block;
	text-align: center;
}
.header-logo__text {
	display: block;
	color: #000;
	font-family: 'Bebas Neue';
	font-size: 8px;
	text-transform: uppercase;
	letter-spacing: 9px;
}
.header-logo__image {
	display: inline-block;
	margin: 13px 0 22px 0;
}
