/*шрифты*/
@font-face {
	font-family: 'Conv_Akzidenz-Grotesk-BQ-Condensed-Bold';
	src: url('../fonts/Akzidenz-Grotesk-BQ-Condensed-Bold.eot');
	src: local('☺'), url('fonts/Akzidenz-Grotesk-BQ-Condensed-Bold.woff') format('woff'), url('fonts/Akzidenz-Grotesk-BQ-Condensed-Bold.ttf') format('truetype'), url('fonts/Akzidenz-Grotesk-BQ-Condensed-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*шрифты*/
/*обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	font-family: 'PT Sans', sans-serif;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	/*overflow-x: hidden;*/
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
input [type=text], input [type=email], input [type=email], textarea{-webkit-appearance: none; -moz-appearance: none;appearance:none;}
/*обнуление*/

/*head*/
header {
	padding: 30px 0 35px 0;
	background-color: #fff;
}

.container {
	margin: 0 auto;
	max-width: 880px;
	width: 100%;
}
.header-top {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
}
.header-top-lang {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
}
.header-top-lang__item {
	display: block;
	line-height: 19px;
	color: #000;
	text-transform: uppercase;
	font-family: 'Bebas Neue';
	letter-spacing: 1px;
	padding:  0px 4px;
	margin: 0 10px 0 0;
}
.header-top-lang__item:active {
	background-color: #000;
	color: #fff;
}
.header-top__link {
	font-family: 'Conv_Akzidenz-Grotesk-BQ-Condensed-Bold';
	text-transform: uppercase;
	text-decoration: underline;
	font-size: 15px;
	color: #000;
	font-weight: bold;
}
.header-bottom {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: -15px 0 0 0;
}
.header-bottom__column {
	flex: 0 0 33.333%;
}
.header-bottom-menu-list {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
}
.header-bottom-menu-list li {

}
.header-bottom-menu__link {
	font-family: 'Conv_Akzidenz-Grotesk-BQ-Condensed-Bold';
	letter-spacing: 1.5px;
	color:#000;
	text-transform: uppercase;
	font-size: 15px;
}
.header-logo {
	display: block;
	text-align: center;
}
.header-logo__text {
	display: block;
	color: #000;
	font-family: 'Bebas Neue';
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 9px;
}
.header-logo__image {
	display: inline-block;
	margin: 13px 0 22px 0;
}
/*head*/
/*block-1*/
.btn {
	display: inline-block;
	padding: 0px 33px;
	height: 50px;
	line-height: 50px;
	background-color: #000;
	font-family: 'Bebas';
	text-transform: uppercase;
	letter-spacing: 1.5px;
	color: #fff;
}
.btn--w {
	display: inline-block;
	padding: 0px 33px;
	height: 50px;
	line-height: 50px;
	background-color: #fff;
	font-family: 'Bebas';
	text-transform: uppercase;
	letter-spacing: 1.5px;
	color: #000;
}
.private {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	background-color: #000;
	margin: 0 0 75px 0;
}
.private__column {
	flex: 0 0 50%;
}
.private__image {
	height: 100%;
}

.private-body {
	padding: 75px 0 60px 60px;
}
.private-body-content {
	max-width: 305px;
}
.private-body__tittle {
	font-size: 50px;
	text-transform: uppercase;
	letter-spacing: 5px; 
	color: #fff;
	font-family: 'Conv_Akzidenz-Grotesk-BQ-Condensed-Bold';
	margin: 0 0 30px 0;
}
.private-body__text {
	font-size: 15px;
	line-height: 25px;
	color: #fff;
	margin: 0 0 50px 0;
}
.private-bode-link {
	font-family: 'Bebas';
	text-transform: uppercase;
	color: #fff;
	font-size: 15px;
	text-decoration: underline;
	margin: 0 0 0 15px;
	letter-spacing: 1.5px;
}
img {
	max-width: 100%;
}

/*block-2*/

.products {
	margin: 0 0 40px 0;
}
.products-body {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
}
.products__column {
	flex: 0 0 25%;
	margin: 0 0 40px 0;
}
.products-item {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	height: 100%;

}
.products-item__image {
	display: block;
	/*padding: 0 0 100% 0;*/
	width: 100%;
	margin: 0 0 25px 0;
}
.products-item__title {
	height: 50px;
	overflow: hidden;
	max-width: 185px;
	padding: 0 10px 0 0;
	display: block;
	font-size: 25px;
	font-family: 'Conv_Akzidenz-Grotesk-BQ-Condensed-Bold';
	text-transform: uppercase;
	letter-spacing: 2.5px;
	color: #000;
	margin: 0 0 30px 0;
}
.products-item__text {
	flex: 1 1 auto;
	max-width: 185px;
	padding: 0 10px 0 0;
	font-size: 15px;
	line-height: 25px;
	margin: 0 0 25px 0;
}
.products-item__btn {
	margin: 0 0 30px 0;
}
.products-item__link {
	font-family: 'Bebas';
	text-transform: uppercase;
	color: #000;
	text-decoration: underline;
	font-size: 15px;
	letter-spacing: 1.5px;
}

/*block-3*/

.why {}
.why-top {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	background-color: #000;
}
.why-top__column {
	flex: 0 0 50%;
	align-items: center;
    display: flex;
    justify-content: flex-end;
}
.why-top__text {
	color: #fff;
	font-family: 'Conv_Akzidenz-Grotesk-BQ-Condensed-Bold';
	font-size: 50px;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding: 0 40px 0 0;
}
.why-top__image {
	height: 100%;
}
.why-body {
	background-color: #ebebeb;
	padding: 50px 0 0 0;
}
.why-body-row {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
}
.why-body__column {
	flex: 0 0 50%;
	margin: 0 0 50px 0;
}
.why-body-item {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.why-body-item__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 100px;
	height: 100px;
	background-color: #000;
}
.why-body-item-body {
	flex: 1 1 100%;
	padding: 0 0 0 11px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
}
.why-body-item-body__title {
	flex: 1 1 auto;
	font-size: 25px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	font-family: 'Conv_Akzidenz-Grotesk-BQ-Condensed-Bold';
}
.why-body-item-body__text {
	font-size: 15px;
	line-height: 25px;
	padding: 0 15px 0 0;
}
.why-top__image img {
	height: 100%;
	object-fit: cover;
}

/*contacts*/

.contacts {
	padding: 80px 0 0 0;
}
.contacts-top {
	padding: 0 0 0 10px;
}
.contacts__title {
	font-family: 'Conv_Akzidenz-Grotesk-BQ-Condensed-Bold';
	text-transform: uppercase;
	font-size: 50px;
	letter-spacing: 5px;
	margin: 0 0 30px 0;
}
.contacts-body {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;

}
.contacts-body__column {
	flex: 0 0 50%;
	margin: 0 0 20px 0;
}
.contacts-body__item {
	font-size: 15px;
	color: #000;
	display: inline-block;
	line-height: 27px;
	padding: 0 0 0 35px;
}
.contacts-body__item--1 {
	background: url('../img/contacts/contact-1.png') left no-repeat;
}
.contacts-body__item--2 {
	background: url('../img/contacts/contact-2.png') left no-repeat;
}
.contacts-body__item--3 {
	background: url('../img/contacts/contact-3.png') left no-repeat;
}
.contacts-social {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.contacts-social__item {
	margin: 0 30px 0 0;
}
.contacts-social__item:last-child {
	margin: 0 0 0 0;
}
.contacts-content {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	background-color: #000;
}
.contacts-content__column {
	flex: 0 0 50%;
}
.contacts-content__map {
	height: 100%;
}
.contacts-content__map img{
    height: 100%;
}
.contacts-content-form {
	padding: 55px 60px;
}
.contacts-content-form__title {
	font-family: 'Conv_Akzidenz-Grotesk-BQ-Condensed-Bold';
	text-transform: uppercase;
	font-size: 25px;
	letter-spacing: 5px;
	color: #fff;
	margin: 0 0 30px 0;
}
.contacts-content-form-body {
	max-width: 375px;
}
.contacts-content-form-line {
	margin: 0 0 25px 0;
}
.contacts-content-form-button {}
.contacts-content-form__btn {}

.input {
	border-radius: 0;
	width: 100%;
	display: block;
	padding: 0px 18px;
	height: 50px;
	border: 2px solid #959595;
	background-color: #252525;
	color: #959595;
	font-size: 15px;
}
textarea.input {
	resize: none;
	padding: 10px 18px; 
	height: 100px;
}



@media screen and (max-width: 768px) {
.products-body {
	flex-wrap: wrap;
	padding: 0 10px 0 10px;
}
.products__column {
	flex: 0 0 50%;
}
.why-body__column {
	flex: 1 1 100%;
	padding: 0 5px 0 5px;
}
.why-top__image {
	display: none;
}
.why-top__column {
	flex: 0 0 100%;
	justify-content: center;
}
.why-top__text {
	padding: 10px 0 10px 0;
	font-size: 35px;
	text-align: center;
}
.contacts-content {
	display: block;
}
.contacts-content__map img {
	width: 100%;
}
.contacts-content__map {
    width: 100%;
}
.contacts-content__column {
    display: flex;
    justify-content: center;
}
.input {
    width: 400px;
}
.contacts-content-form__title {
    text-align: center;
}
.contacts-content-form-button {
    text-align: center;
}
.contacts {
    padding: 40px 0 0 0;
}
.contacts-top {
    padding: 0 0 0 7%;
}
.contacts-content-form {
    padding: 30px 40px;
}
@media screen and (max-width: 380px) {
.products__column {
	flex: 1 1 100%;
	justify-content: center;
    display: flex;
}
.why-top__text {
	padding: 10px 0 10px 0;
	font-size: 28px;
}
.contacts-content-form {
    padding: 20px 10px;
}
.input {
    width: 300px;
}
}



	/*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d41969.53806229996!2d36.28081385688376!3d48.89450512843848!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40df2f3ee2d01dbf%3A0xa7357ad1ebda3552!2z0JvQvtC30L7QstCw0Y8sINCl0LDRgNGM0LrQvtCy0YHQutCw0Y8g0L7QsdC70LDRgdGC0Yw!5e0!3m2!1sru!2sua!4v1596388703768!5m2!1sru!2sua" width="674.5" height="492" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>*/